<div class="anfahrt">
    <h2>Anfahrt</h2>

    <h4>Merseburg:</h4>

    <p>Das Ärztehaus befindet sich im unteren Teil der Wilhelm-Busch-Passage. Parkplätze befinden sich in unmittelbarer Nähe im Parkhaus unter der Saale-Sparkasse sowie vereinzelt im Wohngebiet. Vom Bahnhof und der Straßenbahnhaltestelle der Linie 5 "Merseburg-Zentrum" sind es etwa 10 Minuten Fußweg Richtung Innenstadt</p>

    <div id="maps-mersebrug"></div>

    <h4>Querfurt:</h4>

    <p>Die Praxisräume befinden sich in der ersten Etage im Hauptgebäude des Carl-von-Basedow-Klinikums. Zur Orientierung bitte der Ausschilderung in der Stadt und innerhalb des Krankenhauses folgen.</p>

    <div id="maps-querfurt"></div>
</div>