<div class="impressum">
    <h2>Impressum</h2>

    <p>Dipl.-Med. Holger Müller<br>
        Gotthardstraße 34<br/>
        06217 Merseburg</p>

    <p>Tel.: 03461/82 18 68 6</p>

    <p><a href="http://www.urologie-buschpassage.de">www.urologie-buschpassage.de</a></p>

    <p>Alle Texte auf dieser Website sind urheberrechtlich geschützt. Eine Nutzung durch Dritte ohne vorherige
        Erlaubnis ist nicht zulässig.</p>

    <h5>Verweise und Links auf dieser Webseite</h5>

    <p> Trotz sorgfältiger inhaltlicher Kontrolle wird keine Haftung für die Inhalte externer Links übernommen. Für den
        Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

    <h5> Angaben nach dem Telemediengesetz (TMG)</h5>

    <p>Gemäß § 5 Abs. 1 des Telemediengesetzes gebe ich (Holger Müller) nachfolgend die Informationen, die laut TMG auf
        einer Praxishomepage verfügbar sein müssen:</p>

    <h5>Zuständige Aufsichtsbehörde</h5>

    <p>Kassenärztliche Vereinigung Sachsen-Anhalt<br/>
        Doctor-Eisenbart-Ring 2<br/>
        39120 Magdeburg</p>

    <p>Eingetragen im Arztregister der Kassenärztlichen Vereinigung Sachsen Anhalt unter der ENR 84 56 346</p>

    <h5>Zuständige Kammer</h5>

    <p>Ärztekammer Sachsen-Anhalt<br/>
        Doctor-Eisenbart-Ring 2<br/>
        39120 Magdeburg</p>

    <p> Mitgliedsnummer: 13800</p>

    <h5>Berufsrechtliche Regelung</h5>

    <p>Berufsordnung der Landesärztekammer Sachsen-Anhalt (<a href="http://www.aeksa.de">www.aeksa.de</a>)</p>

    <h5>Zulassung durch</h5>

    <p>Kassenärztliche Vereinigung Sachsen-Anhalt<br/>
        Doctor-Eisenbart-Ring 2<br/>
        39120 Magdeburg</p>

    <h5>Berufsbezeichnungen</h5>

    <p>Urologe</p>

    <h5>Inhaltlich Verantwortlicher gemäß § 6 MDStV</h5>

    <p>Dipl.-Med. Holger Müller</p>

    <h5>Erstellung der Webseite</h5>

    <p>Maik Schößler</p>
</div>