<div class="praxis">
    <h2>In unseren Praxen ...</h2>

    <p>... in Merseburg und Querfurt erwarten Sie eine freundliche Atmosphäre und kompetente Behandlung Ihrer
        Beschwerden. In unseren Praxisräumen in Merseburg können eine Vielzahl von Untersuchungs- und
        Behandlungsmöglichkeiten urologischer Krankheiten direkt vor Ort durchgeführt werden. Darunter sind
        beispielsweise:</p>

    <div class="leistung-container">
        <div class="leistung">
            <div class="js-leistung-header leistung-header no-link">Laboruntersuchungen einschließlich Mikrobiologie</div>
        </div>

        <div class="leistung">
            <div class="js-leistung-header leistung-header">Zystoskopien</div>

            <div class="js-leistung-detail leistung-detail">
                <p>Bei sichtbarer oder nicht sichtbarer Blutbeimengung im Urin können
                    verschiedene
                    krankhafte Veränderungen der Harnblase Ursache sein.
                    Durch die Verwendung eines flexiblen Zystoskops können Tumore der Harnblase und Blasensteine
                    schmerzarm
                    diagnostiziert werden.
                    Nach einer Steinentfernung können durch diese Untersuchung auch Harnleiterschienen entfernt
                    werden.</p>
            </div>
        </div>

        <div class="leistung">
            <div class="js-leistung-header leistung-header">Sonographische Untersuchungen</div>

            <div class="js-leistung-detail leistung-detail">
                <p>Untersucht werden Nieren und Blase zur Diagnostik von Harnsteinen, eines
                    gestörten Harnabflusses von den Nieren zur Harnblase sowie wegen tumoröser Veränderungen.
                    Die Untersuchung der Harnblase ermöglicht die Beurteilung einer Blasenentleerung und gibt
                    Informationen
                    zur Größe der Vorsteherdrüse. Die Prostata kann außerdem mit einer Spezialsonde vom Darm her auf
                    Strukturunregelmäßigkeiten untersucht werden.</p>
            </div>
        </div>

        <div class="leistung">
            <div class="js-leistung-header leistung-header">Prostatabiopsien</div>

            <div class="js-leistung-detail leistung-detail">
                <p>Untersuchung bei Verdacht auf eine bösartige Veränderung, bei der unter
                    Führung der Ultraschallsonde vom Darm her mehrere Gewebeproben entnommen werden.</p>
            </div>
        </div>

        <div class="leistung">
            <div class="js-leistung-header leistung-header">Katheterwechsel</div>

            <div class="js-leistung-detail leistung-detail">
                <p>Legen und Wechseln von Harnröhrenkathetern, Wechsel von
                    Bauchdeckenkathetern.
                    Nach dem Legen eines Katheters können auch verschiedene Medikamente in die Blase eingefüllt
                    werden.</p>
            </div>
        </div>

        <div class="leistung">
            <div class="js-leistung-header leistung-header">ambulante Operationen</div>

            <div class="js-leistung-detail leistung-detail">
                <p>In Kooperation mit der Urologischen Klinik des Carl-von-Basedow-Klinikums
                    Merseburg und der Praxis Dipl.-Med. J. Schmollack können einige operative Eingriffe (z.B. bei
                    Vorhautverengungen, Operationen von Hydrocelen) ambulant vorgenommen werden. Ebenso können so
                    Operationen zur Sterilisation beim Mann ambulant erfolgen.</p>
            </div>
        </div>

        <div class="leistung">
            <div class="js-leistung-header leistung-header">Früherkennungsuntersuchungen</div>

            <div class="js-leistung-detail leistung-detail">
                <p>Das Prostatakarzinom ist die häufigste Tumorerkrankung älterer Männer, die
                    durch die Früherkennungsuntersuchungsuntersuchung in einem frühen Stadium entdeckt werden kann.
                    Zur Verbesserung der Genauigkeit der Untersuchung bieten wir auf Wunsch als Zusatzuntersuchung die
                    Bestimmung des PSA-Wertes an. Durch eine Ultraschalluntersuchung im Rahmen der erweiterten
                    Früherkennung
                    können außerdem Tumore der Niere frühzeitig entdeckt werden.
                    Alle Zusatzuntersuchungen sind nicht Bestandteil der Krankenkassenleistungen und müssen deshalb bei
                    Inanspruchnahme vom Patienten selbst bezahlt werden.</p>
            </div>
        </div>

        <div class="leistung">
            <div class="js-leistung-header leistung-header no-link">Beratung bei sexuellen Störungen</div>
        </div>

        <div class="leistung">
            <div class="js-leistung-header leistung-header no-link">Hausbesuche (bei gegebener Indikation)</div>
        </div>
    </div>

    <p>Die Praxis ist barrierefrei auch mit dem Rollstuhl erreichbar.</p>
</div>