<div class="sidebar">
    {#<div class="team-image">
        <img src="{{ templateDir }}/img/personen.png" alt="Das Team stellt sich vor.">
    </div>#}

    <div class="sprechzeiten">
        <h3>Sprechzeiten</h3>
        <table>
            <tr>
                <td>Mo</td>
                <td>8:00 - 12:00 Uhr und <br/>15:00 - 17:00 Uhr</td>
            </tr>
            <tr>
                <td>Di</td>
                <td>8:00 - 13:00 Uhr</td>
            </tr>
            <tr>
                <td>Mi</td>
                <td>9:00 - 14:00 Uhr in Querfurt durch Dr. Schütte</td>
            </tr>
            <tr>
                <td>Do</td>
                <td>8:00 - 12:00 Uhr und <br/>15:00 - 18:00 Uhr</td>
            </tr>
            <tr>
                <td>Fr</td>
                <td>8:00 - 11:00 Uhr</td>
            </tr>
        </table>
    </div>

    <div class="adressen">
        <h3>Adressen</h3>
        <div class="adressen-content">
            <div>
                <h5>Merseburg:</h5>
                <p>Gotthardstraße 34<br/>
                    Buschpassage<br/>
                    06217 Merseburg<br/>
                    Telefon: 03461/8218686</p>
            </div>

            <div>
                <h5>Querfurt:</h5>
                <p>Vor dem Nebraer Tor 11<br/>
                    C.-v.-Basedow-Klinikum<br/>
                    06268 Querfurt<br/>
                    Telefon: 034771/71280
                </p>
            </div>
        </div>
    </div>
</div>