<div class="team">
    <h2>Team</h2>

    <div class="personal">
        <img src="{{ templateDir }}/img/praxis-bild01.jpg" alt="Holger Müller Profilbild">

        <div class="personal-information">
            <h4>Dipl.-Med. Holger Müller<br/>
                Facharzt für Urologie (Jahrgang 1960)</h4>

            <ul>
                <li>Studium der Medizin in Twer (ehemals Kalinin) von 1978 bis 1984</li>
                <li>Approbation 1984</li>
                <li>Urologische Klinik Weidenplan von 1984 bis 1991</li>
                <li>Facharzt für Urologie 1990</li>
                <li>Niedergelassen seit November 1991</li>
                <li>Von 1993 bis 2011 Praxis in Leuna</li>
                <li>Seit 2012 Praxis in Merseburg</li>
                <li>Seit 2013 Zusatzqualifikation Palliativmedizin, Mitarbeit im Ambulanten Palliativzentrum
                    Saalekreis
                </li>
            </ul>
        </div>
    </div>

    <div class="personal">
        <img src="{{ templateDir }}/img/praxis-bild04.jpg" alt="Alexander Schütte Profilbild">

        <div class="personal-information">
            <h4>Dr. Alexander Schütte<br/>
                Facharzt für Urologie (Jahrgang 1970)</h4>

            <ul>
                <li>Studium der Humanmedizin MLU Halle 1989-1995</li>
                <li>Approbation 1995</li>
                <li>Facharztausbildung 1995-2002</li>
                <li>Urologische Klinik Weidenplan</li>
                <li>Urologische Klinik OvG Universität Magdeburg</li>
                <li>Oberarzt 2002-2004 Urologische Klinik OvG Universität Magdeburg</li>
                <li>Oberarzt 2004-2007 Urologische Klinik Martha-Maria Halle-Dölau</li>
                <li>Leitender Oberarzt 2007-2010 Urologische Klinik Martha-Maria Halle-Dölau</li>
                <li>Chefarzt ab 2010 Urologische Klinik CvB Klinikum Merseburg</li>
                <li>2001 Promotion zum Dr. med</li>
                <li>2007 Erlangung der Zusatzweiterbildung - Spezielle urologische Chirurgie</li>
                <li>2008 Erlangung der Zusatzbezeichnung "Medikamentöse Tumortherapie"</li>
            </ul>
        </div>
    </div>

    <div class="personal">
        <img src="{{ templateDir }}/img/praxis-bild02.jpg" alt="Simone Müller Profilbild">

        <div class="personal-information">
            <h4>Simone Müller (Jahrgang 1963)</h4>

            <ul>
                <li>Seit 1991 in der Praxis</li>
                <li>2003 Prüfung zur Arzthelferin Uroonkologische Weiterbildung</li>
            </ul>
        </div>
    </div>

    <div class="personal">
        <img src="{{ templateDir }}/img/praxis-bild03.jpg" alt="Antonia Mäder Profilbild">

        <div class="personal-information">
            <h4>Antje Klose (Jahrgang 1971)</h4>

            <ul>
                <li>Seit September 2020 als Arzthelferin in der Praxis, Uroonkologische Weiterbildung</li>
            </ul>
        </div>
    </div>
</div>